* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 103px;
    height: 58px;
    margin-top: 15px;
}

.signin-form {
    width: 360px;
    height: 300px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #a6a6a6;
    border-radius: 1px;
    margin: 20px auto 25px auto;
}

.signin-form h1 {
    font-weight: 200;
    font-size: 35px;
    padding-bottom: 20px;
}

.signin-form label {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 200;
}

.signin-form input {
    width: 340px;
    height: 25px;
    padding: 3px 7px;
    margin-top: 3px;
    background-color: white;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.signin-form button {
    width: 355px;
    height: 33px;
    margin-top: 20px;
    background-color: #f0c14b;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    background-image: linear-gradient(#f7da90,#e2b33b);
    border-radius: 3px;
}

a {
    text-decoration: none;
    font-weight: 100;
    color: #0a7eff;
}

#forgot {
    float: right;
}

.signin-form a {
    margin-top: 10px;
    font-size: 16px;
}

.under-signin-form p {
    line-height: 1;
    font-size: 16px;
    color: #767676;
    font-weight: 400;
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 0 8px 0 7px;
}

.under-signin-form, .btn {
    display: flex;
    justify-content: center;
}

.under-signin-form::before,.under-signin-form::after {
    content: "";
    position: relative;
    top: 6px;
    display: inline-block;
    width: 130px;
    border-top: 1px solid #a6a6a6;
}

.btn button {
    width: 380px;
    height: 31px;
    margin: 20px auto 50px auto;
    background-color: #e7e9ec;
    background-image: linear-gradient(#f9f9fa, #e7e9ec);
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 40px auto 30px auto;
}

.footer-links a {
    font-size: 13px;
}

.copyright p {
    font-size: 13px;
    color: black;
    text-align: center;
}